@import './utils/fonts.scss';
@import './utils/mixin.scss';
@import './utils/vars.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background: #FFF;
}


body {
  font-family: 'Effra', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
  color: $white;
}

h1,
.like-h1 {
  color: #FFF;
  text-align: center;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 900;
  line-height: 112%;

  @include minw($sm-pc) {
    font-size: 7.2rem;
  }
}

h2 {}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }

  &:visited {
    color: inherit;
  }
}

// button {
//   background: none;
//   color: inherit;
//   border: none;
//   padding: 0;
//   cursor: pointer;
//   outline: inherit;
//   font-size: inherit;
//   font-weight: inherit;
//   line-height: inherit;
// }

.container-xxl {
  padding: 0 2rem;
}


header {
  padding: 2.4rem 0 1rem;
  color: #ffffff;

  @include minw($sm-pc) {
    padding: 3rem 0;
  }

  .logo {
    position: relative;
    z-index: 300;
  }

  .logo-text {
    margin-left: 1rem;
    font-family: Inter;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 100%;
  }

  .navbar {
    .navbar-toggler {}

    .navbar-nav {
      .nav-item {
        .nav-link {
          color: #ffffff;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 100%;

          &:hover {
            color: #ffffffce;
          }


        }

        &:not(:first-of-type) {}

        @include minw($sm-pc) {

          &:not(:first-of-type) {
            margin-top: 0;
            margin-left: 2rem;
          }
        }

        @include minw($pc) {

          &:not(:first-of-type) {
            margin-left: 4rem;
          }
        }
      }
    }

    @include maxw(991px) {
      .collapse {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        height: 100%;
        text-align: center;
        z-index: 100;
        background: rgba(0, 0, 0, 0.5);
        overflow-y: scroll;
  
        & > ul {
          padding: 16.8rem 0 9.2rem;
          background: $black;
  
          & > li {
  
            &:not(:first-of-type) {
              margin-top: 4rem;
            }
          }
        }
      }
    }
  }

  .header__login {
    color: #FFF;
    font-size: 1.8rem;
    line-height: 100%;
    border: none;

    &:hover {
      color: #ffffffce !important;
    }
  }

  .header__register {
    border-radius: 40px;
    background: #FFF;
    display: inline-flex;
    padding: 1.2rem 3.2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 100%;

    @include minw(992px) {
      margin-left: 2rem;
    }

    @include minw($pc) {
      margin-left: 4rem;
    }
  }
}





.animated-icon {
  width: 18px;
  height: 24px;
  position: relative;
  z-index: 300;
  margin: 0px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}


.animated-icon span {
  background: $white;
}

.animated-icon span:nth-child(1) {
  top: 7px;
}

.animated-icon span:nth-child(2),
.animated-icon span:nth-child(3) {
  top: 15px;
}

.animated-icon.open span:nth-child(2),
.animated-icon.open span:nth-child(3) {
  top: 10px;
}

.animated-icon.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

.animated-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

.animated-icon.open span:nth-child(3) {

  transform: rotate(-45deg);
}